@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card-image {
    @apply absolute top-0 left-0 w-full h-full flex items-center justify-center opacity-0 bg-black hover:opacity-95 transition-opacity duration-500;
  }
  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
